{"swagger":"2.0","info":{"version":"v1","title":"Easydoc Repository API"},"host":"hum-edr-api.easydoc.com.ar","schemes":["https"],"paths":{"/api/AdminContainerTypes/{id}":{"get":{"tags":["AdminContainerTypes"],"summary":"Get de un tipo de contenedor.\r\nVisibilidad segun jerarquia de Ous impersonada del usuario\r\nSi no hay un tipo de contenedor para el id, retorna not found.","operationId":"AdminContainerTypes_GetByidlod","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo de contenedor","required":true,"type":"integer","format":"int32"},{"name":"lod","in":"query","description":"Nivel de detalle del tipo de contenedor","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes":{"get":{"tags":["AdminContainerTypes"],"summary":"Get de tipos de contenedores\r\nVisibilidad segun jerarquia de Ous impersonada del usuario","operationId":"AdminContainerTypes_GetByparameters.idparameters.parentparameters.nameparameters.systemNameparameters.levelOfDetailparameters.notInRoleparameters.organizationalUnitIdparameters.applicationId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.parent","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.systemName","in":"query","required":false,"type":"string"},{"name":"parameters.levelOfDetail","in":"query","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]},{"name":"parameters.notInRole","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.applicationId","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["AdminContainerTypes"],"summary":"Alta de un tipo de contendor","operationId":"AdminContainerTypes_PostBycontainerType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"containerType","in":"body","description":"Tipo de contendor a dar de Alta","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.ContainerTypePutDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/{applyNameInExsistFolder}":{"put":{"tags":["AdminContainerTypes"],"summary":"Modificacion de un tipo de contenedor.\r\nSolo si el tipo de contenedor esta dentro de la jerarquia de Ou impersonada del usuario","operationId":"AdminContainerTypes_PutBycontainerTypeapplyNameInExsistFolder","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"containerType","in":"body","description":"Tipo de contenedor a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.ContainerTypePutDTO"}},{"name":"applyNameInExsistFolder","in":"path","description":"Indica si impacta el cambio del nombre en las carpetas existentes o no.","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Roles/{idRole}/AdminContainerTypes":{"get":{"tags":["AdminContainerTypes"],"summary":"Get de tipos de contenedor asociados al rol","operationId":"AdminContainerTypes_GetRoleCTByidRole","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRole","in":"path","description":"Id del rol","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminContainerTypes"],"summary":"Asocia el rol a los Tipos de contenedores.","operationId":"AdminContainerTypes_PutRoleCTByidRolecontainerTypes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRole","in":"path","description":"Id del rol a asociar","required":true,"type":"integer","format":"int32"},{"name":"containerTypes","in":"body","description":"Tipos de conetendores a asociar al rol","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.ContainerTypeDTO"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/Roles/{idRole}":{"put":{"tags":["AdminContainerTypes"],"summary":"Asocia el rol a los Tipos de contenedores.","operationId":"AdminContainerTypes_PutRoleCTByidRolerolesContainerType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRole","in":"path","description":"Id del rol a asociar","required":true,"type":"integer","format":"int32"},{"name":"rolesContainerType","in":"body","description":"Tipos de conetendores a asociar al rol","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cardinal.EDR.DTO.Security.RolesContainerTypeDTO"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/share/{id}":{"put":{"tags":["AdminContainerTypes"],"summary":"Setea el tipo de contenedor como Share\r\nImplica que los contenedores de este tipo, se pueden compartir.","operationId":"AdminContainerTypes_ShareByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo de contenedor a compartir","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/notShare/{id}":{"put":{"tags":["AdminContainerTypes"],"summary":"Setea la tipo de contenedor como no compartible\r\nImplica que los contenedores de este tipo, no se pueden compartir.","operationId":"AdminContainerTypes_NotShareByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo de contenedor a No compartir","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/exportToJson":{"put":{"tags":["AdminContainerTypes"],"summary":"Genera un JSON de los tipos de carpetas","operationId":"AdminContainerTypes_ExportToJsonByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.ExportContainerTypesDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminContainerTypes/Import":{"post":{"tags":["AdminContainerTypes"],"summary":"Importacion de tipo documental version 1","operationId":"AdminContainerTypes_Import","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocuments/{id}":{"get":{"tags":["AdminDocuments"],"summary":"Get de un documento\r\nSu version temporal o publicada, la version temporal solo si el doc esta tomado por el usuario que pide la version.","operationId":"AdminDocuments_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocuments/Bulk":{"get":{"tags":["AdminDocuments"],"operationId":"AdminDocuments_GetBulkBydocuments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documents","in":"query","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocuments/HardDelete/{id}":{"delete":{"tags":["AdminDocuments"],"summary":"Borrado Fisicamente del documento y sus archivos.\r\nEl documento no puede estar tomado por otro usuario.","operationId":"AdminDocuments_HardDeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento a borrar","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/{id}":{"get":{"tags":["AdminDocumentTypes"],"summary":"Get de un tipo documental.\r\nVisibilidad segun jerarquia de Ou impersonada del usuario\r\nSi no hay un tipo documental para el id, retorna not found.","operationId":"AdminDocumentTypes_GetByidlod","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo documental","required":true,"type":"integer","format":"int32"},{"name":"lod","in":"query","description":"Nivel de detalle del resultado","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes":{"get":{"tags":["AdminDocumentTypes"],"summary":"Get de tipos documentales\r\nVisibilidad segun jerarquia de Ous impersonada del usuario","operationId":"AdminDocumentTypes_GetByparameters.filterDisabledMetadataparameters.idparameters.parentparameters.nameparameters.systemNameparameters.notInRoleparameters.organizationalUnitIdparameters.applicationIdparameters.lodparameters.metadataTypeFilter","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.filterDisabledMetadata","in":"query","required":false,"type":"boolean"},{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.parent","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.systemName","in":"query","required":false,"type":"string"},{"name":"parameters.notInRole","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.applicationId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.lod","in":"query","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]},{"name":"parameters.metadataTypeFilter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminDocumentTypes"],"summary":"Modificacion de un tipo documental.\r\nSolo si el tipo de contenedor esta dentro de la jerarquia de Ou impersonada del usuario","operationId":"AdminDocumentTypes_PutBydocumentType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documentType","in":"body","description":"Tipo documetal a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.DocumentTypePutDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["AdminDocumentTypes"],"summary":"Alta de un tipo documental.","operationId":"AdminDocumentTypes_PostBydocumentType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documentType","in":"body","description":"Tipo documetal a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.DocumentTypeDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/Import":{"post":{"tags":["AdminDocumentTypes"],"summary":"Importacion de tipo documental version 0 o version 1","operationId":"AdminDocumentTypes_Import","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/share/{id}":{"put":{"tags":["AdminDocumentTypes"],"summary":"Se setea el tipo documental como compartible\r\nImplica que los documentos asociados a este tipo, se pueden compartir.","operationId":"AdminDocumentTypes_ShareByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo documental a setear como compartir","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/notShare/{id}":{"put":{"tags":["AdminDocumentTypes"],"summary":"Se setea el tipo documental como no compartible\r\nImplica que los documentos asociados a este tipo, no se pueden compartir.","operationId":"AdminDocumentTypes_NotShareByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del tipo documental a setear como no compartir","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/exportToJson":{"put":{"tags":["AdminDocumentTypes"],"summary":"Genera un JSON de los tipos documentales","operationId":"AdminDocumentTypes_ExportToJsonByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.ExportDocumentTypesDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminDocumentTypes/exists":{"post":{"tags":["AdminDocumentTypes"],"summary":"Verifica si los tipos documentales ya existen","operationId":"AdminDocumentTypes_ExistsBydocTypeSystemNames","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docTypeSystemNames","in":"body","description":"systemNames de los tipos documentales para chequear si existen","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminFiles/Download/{id}":{"get":{"tags":["AdminFiles"],"summary":"Se obtiene un archivo especifo","operationId":"AdminFiles_DownloadByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"El id del arhivo a obtener","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMassiveRegister/{containerTypeId}":{"get":{"tags":["AdminMassiveRegister"],"operationId":"AdminMassiveRegister_GetBycontainerTypeId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"containerTypeId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminMassiveRegister"],"operationId":"AdminMassiveRegister_PutBycontainerTypeId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"containerTypeId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMassiveRegister/download/{containerTypeId}":{"get":{"tags":["AdminMassiveRegister"],"operationId":"AdminMassiveRegister_DownloadBycontainerTypeId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"containerTypeId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMetadata/{id}":{"get":{"tags":["AdminMetadata"],"summary":"Get de un metadato\r\nEn caso de no exisitir devuelve not Found","operationId":"AdminMetadata_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del metadato a buscar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMetadata":{"get":{"tags":["AdminMetadata"],"summary":"Get de metadatos","operationId":"AdminMetadata_GetByparameters.idparameters.labelparameters.nameparameters.notInContainerTypeparameters.notInDocumentTypeparameters.organizationalUnitIdparameters.levelOfDetail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.label","in":"query","required":false,"type":"string"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.notInContainerType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.notInDocumentType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.levelOfDetail","in":"query","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminMetadata"],"summary":"Modificación de un metadato","operationId":"AdminMetadata_PutBymetadata","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"metadata","in":"body","description":"Metadato a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.MetadataDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["AdminMetadata"],"summary":"Alta de un metadato","operationId":"AdminMetadata_PostBymetadata","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"metadata","in":"body","description":"Metadato a dar de alta","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.MetadataDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMetadata/GetBySysName":{"put":{"tags":["AdminMetadata"],"summary":"Get de metadatos por System Name","operationId":"AdminMetadata_GetByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Filtros de busqueda","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMetadata/AddMetadataValues":{"put":{"tags":["AdminMetadata"],"summary":"Agrega items al metadato.","operationId":"AdminMetadata_PutMetadataValuesByitem","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"item","in":"body","description":"Item a agregar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.AddMetadataItemDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMetadata/combo":{"put":{"tags":["AdminMetadata"],"summary":"Modificación de un metadato tipo combo","operationId":"AdminMetadata_UpdateComboBymetadata","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"metadata","in":"body","description":"Metadato a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.AddMetadataItemDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMongoIndexes/PutDefault":{"put":{"tags":["AdminMongoIndexes"],"summary":"Crea un indice por los campos default","operationId":"AdminMongoIndexes_PutDefaultByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.AdminMongoIndexDefaultParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMongoIndexes/GenerateIndexesOu/{ouId}":{"get":{"tags":["AdminMongoIndexes"],"summary":"Verifica y genera en caso de que las collections no tengan los indices creados por sistema","operationId":"AdminMongoIndexes_GenerateIndexesOuByouId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ouId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMongoIndexes/GenerateIndexesTd/{tdId}":{"get":{"tags":["AdminMongoIndexes"],"summary":"Verifica y genera en caso de que las collection de tds no tengan los indices creados por sistema","operationId":"AdminMongoIndexes_GenerateIndexesTdBytdId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tdId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMongoIndexes/GenerateIndexesTc/{tcId}":{"get":{"tags":["AdminMongoIndexes"],"summary":"Verifica y genera en caso de que las collection de tds no tengan los indices creados por sistema","operationId":"AdminMongoIndexes_GenerateIndexesTcBytcId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tcId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminMongoIndexes":{"get":{"tags":["AdminMongoIndexes"],"operationId":"AdminMongoIndexes_GetByparameters.objectIdparameters.objectTypeKey","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.objectId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.objectTypeKey","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminMongoIndexes"],"operationId":"AdminMongoIndexes_PutByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.AdminMongoIndexesPutParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["AdminMongoIndexes"],"summary":"Crea un indice por los campos","operationId":"AdminMongoIndexes_PostByindex","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"index","in":"body","description":"parametros del index","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.AdminDbaDocumentParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"delete":{"tags":["AdminMongoIndexes"],"summary":"Borrado de indice pasado por parametro.","operationId":"AdminMongoIndexes_DeleteByparameters.objectIdparameters.objectTypeKeyparameters.jsonIndex","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.objectId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.objectTypeKey","in":"query","required":false,"type":"string"},{"name":"parameters.jsonIndex","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminNotificationConfig":{"get":{"tags":["AdminNotificationConfig"],"summary":"Get de la lista de configuraciones de notifivaciones\r\nEn caso de no exisitir devuelve not Found","operationId":"AdminNotificationConfig_GetByparameters.nameparameters.templateNameparameters.documentTypeIdparameters.roleIdparameters.organizationalUnitIdparameters.lod","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.templateName","in":"query","required":false,"type":"string"},{"name":"parameters.documentTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.roleId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.lod","in":"query","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["AdminNotificationConfig"],"summary":"Crea la configuracion de notificacón","operationId":"AdminNotificationConfig_PutByconfig","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"config","in":"body","description":"DTO de la configuracion de notificacion","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.NotificationConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["AdminNotificationConfig"],"summary":"Crea la configuracion de notificacón","operationId":"AdminNotificationConfig_PostByconfig","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"config","in":"body","description":"DTO de la configuracion de notificacion","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.NotificationConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminNotificationConfig/{id}":{"get":{"tags":["AdminNotificationConfig"],"summary":"Get de un metadato\r\nEn caso de no exisitir devuelve not Found","operationId":"AdminNotificationConfig_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del metadato a buscar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"delete":{"tags":["AdminNotificationConfig"],"summary":"Get de un metadato\r\nEn caso de no exisitir devuelve not Found","operationId":"AdminNotificationConfig_DeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del metadato a buscar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/AdminNotificationConfig/GetTemplates":{"get":{"tags":["AdminNotificationConfig"],"summary":"Get de un metadato\r\nEn caso de no exisitir devuelve not Found","operationId":"AdminNotificationConfig_GetTemplates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Audit/GetAudits":{"get":{"tags":["Audit"],"summary":"Busca las auditorias segun criterios","operationId":"Audit_GetAuditsByparameters.actionIdparameters.idparameters.resultparameters.userIdparameters.userNickNameparameters.dateFromparameters.dateToparameters.organizationalUnitIdparameters.entityNameparameters.entityIdparameters.actionTypeparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.actionId","in":"query","required":false,"type":"string"},{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameters.result","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.userId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.userNickName","in":"query","required":false,"type":"string"},{"name":"parameters.dateFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"parameters.dateTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.entityName","in":"query","required":false,"type":"string"},{"name":"parameters.entityId","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"parameters.actionType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Audit/GetActionTypes":{"get":{"tags":["Audit"],"operationId":"Audit_GetActionTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Audit/Export":{"put":{"tags":["Audit"],"operationId":"Audit_ExportAuditsByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.AuditParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Audit/{id}":{"get":{"tags":["Audit"],"operationId":"Audit_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Calendar":{"get":{"tags":["Calendar"],"summary":"Búsqueda de los eventos de calendario para un document Type y un rango de fechas","operationId":"Calendar_GetByparameters.docTypeIdparameters.fromparameters.to","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.docTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"parameters.to","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration":{"put":{"tags":["Collaboration"],"summary":"Se obtiene la lista de los documentos colaborados de un usuario, un rol o ambos.","operationId":"Collaboration_FindByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Los para metros de busqueda (es necesario poner un SystemName para el DocumentType con cualquier valor)","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.CollaborationFindParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["Collaboration"],"summary":"Crea una colaboración a un documento existente","operationId":"Collaboration_PostByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Parametros de la colaboracion","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.CollaborationParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/UpLoadFile":{"post":{"tags":["Collaboration"],"summary":"HAce el upload de un documento por medio de la colaboracion","operationId":"Collaboration_UpLoadFile","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/CreateFullAsync":{"post":{"tags":["Collaboration"],"summary":"Crea una colaboración a un documento existente","operationId":"Collaboration_CreateFullAsyncByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Parametros de la colaboracion","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.CollaborationDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/IsCollaborated":{"get":{"tags":["Collaboration"],"summary":"Verifica que el documento este colaborado con el usuario o rol indicado","operationId":"Collaboration_GetByparameter.userIdparameter.roleIdparameter.documentIdparameter.organizationalUnitIdparameter.actionparameter.resultparameter.certificateTypeIdparameter.continueWFparameter.createAsReadparameter.validateparameter.validateRoleIdColaborationFinished","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter.userId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.roleId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.documentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameter.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.action","in":"query","required":false,"type":"string"},{"name":"parameter.result","in":"query","required":false,"type":"string"},{"name":"parameter.certificateTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.continueWF","in":"query","required":false,"type":"boolean"},{"name":"parameter.createAsRead","in":"query","required":false,"type":"boolean"},{"name":"parameter.validate","in":"query","required":false,"type":"boolean"},{"name":"parameter.validateRoleIdColaborationFinished","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/{documentId}/{ouId}":{"get":{"tags":["Collaboration"],"summary":"Verifica que el documento este colaborado con el usuario o rol indicado","operationId":"Collaboration_GetBydocumentIdouId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documentId","in":"path","description":"Id del documento","required":true,"type":"integer","format":"int64"},{"name":"ouId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/FinishCollaboration":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_PutByparameter.userIdparameter.roleIdparameter.documentIdparameter.organizationalUnitIdparameter.actionparameter.resultparameter.certificateTypeIdparameter.continueWFparameter.createAsReadparameter.validateparameter.validateRoleIdColaborationFinished","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter.userId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.roleId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.documentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameter.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.action","in":"query","required":false,"type":"string"},{"name":"parameter.result","in":"query","required":false,"type":"string"},{"name":"parameter.certificateTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.continueWF","in":"query","required":false,"type":"boolean"},{"name":"parameter.createAsRead","in":"query","required":false,"type":"boolean"},{"name":"parameter.validate","in":"query","required":false,"type":"boolean"},{"name":"parameter.validateRoleIdColaborationFinished","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/FinishHistoricColl/{ouId}":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_PutByparameterouId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.CollaborationDTO"}},{"name":"ouId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/ModifyCollaboration":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_ModifyByparameter.userIdparameter.roleIdparameter.documentIdparameter.organizationalUnitIdparameter.actionparameter.resultparameter.certificateTypeIdparameter.continueWFparameter.createAsReadparameter.validateparameter.validateRoleIdColaborationFinished","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter.userId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.roleId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.documentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameter.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.action","in":"query","required":false,"type":"string"},{"name":"parameter.result","in":"query","required":false,"type":"string"},{"name":"parameter.certificateTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.continueWF","in":"query","required":false,"type":"boolean"},{"name":"parameter.createAsRead","in":"query","required":false,"type":"boolean"},{"name":"parameter.validate","in":"query","required":false,"type":"boolean"},{"name":"parameter.validateRoleIdColaborationFinished","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/sign":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_SignDocumentByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.CollaborationSignParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/multipleSign":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_SignDocumentByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.CollaborationSignParameterDTO"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/signedCallback":{"put":{"tags":["Collaboration"],"operationId":"Collaboration_SignedCallbackByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.FirmaExternaResponseDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/GetDocument":{"put":{"tags":["Collaboration"],"summary":"Verifica que el documento este colaborado con el usuario o rol indicado","operationId":"Collaboration_GetDocumentByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.GetCollaboratedDocumentDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Collaboration/MarkSignFiles":{"put":{"tags":["Collaboration"],"summary":"Verifica que el documento este colaborado con el usuario o rol indicado","operationId":"Collaboration_MarkSignFiles","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/ContainerTypes/{id}":{"get":{"tags":["ContainerTypes"],"summary":"Get de un tipo de contenedores, segun su nivel de detalle\r\nSolo los tipos de contenederos asociados a los roles del usuario logueado","operationId":"ContainerTypes_GetByidlodfunction","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"id del tipo de contenedor","required":true,"type":"integer","format":"int32"},{"name":"lod","in":"query","description":"nivel de detalle de los datos del tipo de contenedor (metadata asociada o no)","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]},{"name":"function","in":"query","description":"filtra por la operacion que se va a ejecutar","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/ContainerTypes/SystemName/{systemName}":{"get":{"tags":["ContainerTypes"],"summary":"Get de un tipo de contenedores, segun su nivel de detalle\r\nSolo los tipos de contenederos asociados a los roles del usuario logueado","operationId":"ContainerTypes_GetBysystemName","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"systemName","in":"path","description":"systemName del tipo de contenedor","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/ContainerTypes":{"get":{"tags":["ContainerTypes"],"summary":"Busqueda de tipo de contenedores.\r\nSolo los tipos de contenederos asociados a los roles del usuario logueado","operationId":"ContainerTypes_GetByparameters.idparameters.parentparameters.nameparameters.systemNameparameters.levelOfDetailparameters.documentTypeIdsparameters.applicationIdparameters.functions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.parent","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.systemName","in":"query","required":false,"type":"string"},{"name":"parameters.levelOfDetail","in":"query","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]},{"name":"parameters.documentTypeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"parameters.applicationId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.functions","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Functions/{appId}/ContainerTypes":{"get":{"tags":["ContainerTypes"],"summary":"Devuleve los tipos documentales agrupados por funcion.","operationId":"ContainerTypes_GetCTByappId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"path","description":"appID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentAndContainerFind":{"put":{"tags":["DocumentAndContainerFind"],"summary":"Se libera el contededor","operationId":"DocumentAndContainerFind_FindByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Contenedor a liberar/publicar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentAndContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentAndContainerFind/exportxls":{"put":{"tags":["DocumentAndContainerFind"],"summary":"Exporta un archivo XLS con los documentos según los filtros seleccionados.","operationId":"DocumentAndContainerFind_ExportXLSByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Los parámetros del filtro de documentos para generar el XLS","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentAndContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkin":{"put":{"tags":["DocumentContainers"],"summary":"Se libera el contededor","operationId":"DocumentContainers_CheckInBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a liberar/publicar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkInAll":{"put":{"tags":["DocumentContainers"],"summary":"Libera el contenedor y los documentos asociados, tomados por el usario logueado.","operationId":"DocumentContainers_CheckInAllBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a publicar/liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["DocumentContainers"],"summary":"Libera el contenedor y los documentos asociados, tomados por el usario logueado\r\nGenera versiones nuevas para los documentos liberados","operationId":"DocumentContainers_CheckInVersionedAllBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a publicar/liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkout":{"put":{"tags":["DocumentContainers"],"summary":"Toma el contenedor\r\nQueda bloqueado por el usuario para ser modificado solo por el.","operationId":"DocumentContainers_CheckoutBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a tomar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkout/{id}":{"put":{"tags":["DocumentContainers"],"summary":"Toma el contenedor\r\nQueda bloqueado por el usuario para ser modificado solo por el.","operationId":"DocumentContainers_CheckoutByidexpirationMin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id delContenedor a tomar","required":true,"type":"integer","format":"int32"},{"name":"expirationMin","in":"query","description":"Minutos de expiracion del checkout","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/undoCheckout/{id}":{"put":{"tags":["DocumentContainers"],"summary":"Libera el contenedorbloqueado por el usuario sin modificaciones.","operationId":"DocumentContainers_UndoCheckoutByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del Contenedor a liberar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/undoCheckoutall/{id}":{"put":{"tags":["DocumentContainers"],"summary":"Libera el contenedor y sus documentos bloqueado por el usuario sin modificaciones.","operationId":"DocumentContainers_UndoCheckoutAllByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del Contenedor a liberar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkOutAll":{"put":{"tags":["DocumentContainers"],"summary":"Toma el contenedor y los documentos asociados que no estan tomados\r\nQuedan bloqueados por el usuario para ser modificados solo por el.","operationId":"DocumentContainers_CheckOutAllBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a tomar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/checkOutAll/{id}":{"put":{"tags":["DocumentContainers"],"summary":"Toma el contenedor y los documentos asociados que no estan tomados\r\nQuedan bloqueados por el usuario para ser modificados solo por el.","operationId":"DocumentContainers_CheckOutAllByidexpirationMin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del Contenedor a tomar","required":true,"type":"integer","format":"int32"},{"name":"expirationMin","in":"query","description":"Minutos de expiracion del checkout","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/find":{"put":{"tags":["DocumentContainers"],"summary":"Buqueda de los contenedores publicados/liberados","operationId":"DocumentContainers_FindByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Filtros de busqueda","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/count":{"put":{"tags":["DocumentContainers"],"summary":"Listado de tipo de contenedores y cantidad de contenedores por tipo","operationId":"DocumentContainers_CountByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Filtros de busqueda","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentContainerCountFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/findPreview":{"put":{"tags":["DocumentContainers"],"summary":"Buqueda de los previews de los contenedores","operationId":"DocumentContainers_FindPreviewByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Filtros de busqueda","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/FindIds":{"put":{"tags":["DocumentContainers"],"summary":"Devuleve los ids de los contenedores para los filtros","operationId":"DocumentContainers_FindIdsByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Filtros de busqueda. System names","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/FindData":{"put":{"tags":["DocumentContainers"],"summary":"Devuleve los ids y la metadata de los contenedores para los filtros","operationId":"DocumentContainers_FindDataByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Filtros de busqueda. System names","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentContainerFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/{id}":{"get":{"tags":["DocumentContainers"],"summary":"Get de un contendor\r\nSi no existe, retorna not Found","operationId":"DocumentContainers_GetByidlod","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del Contenedor","required":true,"type":"integer","format":"int32"},{"name":"lod","in":"query","description":"Nivel de detalle, si devuelve con o sin documentos.","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"delete":{"tags":["DocumentContainers"],"summary":"Borrado de un contenedor\r\nEl mismo debe estar tomado previamente, por el usuario logueado","operationId":"DocumentContainers_DeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del contenedor a eliminar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/GetMinimal/{id}":{"get":{"tags":["DocumentContainers"],"summary":"Datos minimos Contenedor","operationId":"DocumentContainers_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"id del contenedor","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers":{"get":{"tags":["DocumentContainers"],"summary":"Get de los contenedores tomados por el usuario logueado","operationId":"DocumentContainers_GetBylodparameters.orderByparameters.checkOutByIdparameters.checkedOutparameters.containerTypeIdparameters.idparameters.nameparameters.notInTreeparameters.organizationalUnitIdparameters.treeOfparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lod","in":"query","description":"Nivel de detalle de los contenedores devueltos","required":false,"type":"string","enum":["Simple","Detail","Put","Count","SimpleDetail","IdsOnly","FullDetail"]},{"name":"parameters.orderBy","in":"query","required":false,"type":"string"},{"name":"parameters.checkOutById","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameters.checkedOut","in":"query","required":false,"type":"boolean"},{"name":"parameters.containerTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.notInTree","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.treeOf","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["DocumentContainers"],"summary":"Modificacion de un contenedor\r\nEl contenedor debe estar previamente tomado por el usuario","operationId":"DocumentContainers_PutBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","description":"Contenedor a modificar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["DocumentContainers"],"summary":"Alta de un contenedor\r\nEl mismo queda tomado por el usuario de alta","operationId":"DocumentContainers_PostBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","description":"Contenedor a dar de alta","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/{id}/Documents":{"get":{"tags":["DocumentContainers"],"summary":"Get de los documentos de un contendor","operationId":"DocumentContainers_GetByidparameter.itemPerPageparameter.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del contenedor","required":true,"type":"integer","format":"int32"},{"name":"parameter.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/GetCheckedOut":{"get":{"tags":["DocumentContainers"],"summary":"Get de los contenedores y tipos documentales tomados del usuario.","operationId":"DocumentContainers_GetCheckedOutByparameters.orderByparameters.nameparameters.containerTypeIdsparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.orderBy","in":"query","required":false,"type":"string"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.containerTypeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/getCheckouted":{"get":{"tags":["DocumentContainers"],"summary":"Se devuelven los contenedores tomados","operationId":"DocumentContainers_GetCheckoutedByparameters.idparameters.checkOutByIdparameters.containerTypeSystemNameparameters.organizationalUnitIdparameters.metadataValueparameters.metadataSystemNameparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.checkOutById","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameters.containerTypeSystemName","in":"query","required":false,"type":"string"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.metadataValue","in":"query","required":false,"type":"string"},{"name":"parameters.metadataSystemName","in":"query","required":false,"type":"string"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/Documents":{"put":{"tags":["DocumentContainers"],"summary":"Modificacion de un contendor\r\nEl contenedor debe estar Tomado por el usuario\r\nSe agregan nuevos documentos al contenedor\r\nLos documentos quedan tomados por el usuario.","operationId":"DocumentContainers_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["DocumentContainers"],"summary":"Alta de un contenedor y documentos\r\nAsocia los documentos al contenedor\r\nEl contenedor y sus documentos quedan tomados por el usuario de alta","operationId":"DocumentContainers_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/AssociateDocuments":{"put":{"tags":["DocumentContainers"],"summary":"Asocia los documentos al contenedor","operationId":"DocumentContainers_AssociateBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","description":"Contenedor con la lista de docs a asociar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/Reassing":{"put":{"tags":["DocumentContainers"],"summary":"Reasigna un contenedor ya tomado","operationId":"DocumentContainers_ReassignBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Contenedor a tomar y usuario que lo toma.","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.ReassignDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/{id}/MyDocuments":{"get":{"tags":["DocumentContainers"],"summary":"Get de los documentos tomados por el usuario logueado que estan dentro de de un contendor","operationId":"DocumentContainers_GetMyByidparameter.itemPerPageparameter.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del contenedor","required":true,"type":"integer","format":"int32"},{"name":"parameter.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/share":{"put":{"tags":["DocumentContainers"],"summary":"Comparte un contenedor","operationId":"DocumentContainers_ShareByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Contenedor a comaprtir, y modo de compartirlo","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.ShareDocumentContainerParameters"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/CreateAndCheckin":{"post":{"tags":["DocumentContainers"],"summary":"Alta y publicación de un contenedor\r\nSe crea el contenedor, y se publica","operationId":"DocumentContainers_CreateAndCheckinBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","description":"Contenedor a crear y liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/ModifyAndCheckin":{"put":{"tags":["DocumentContainers"],"summary":"modificacion y publicación de un contenedor\r\nSe modifica el contenedor, y se publica","operationId":"DocumentContainers_ModifyAndCheckinBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","description":"Contenedor a modificar y liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/exportxls":{"put":{"tags":["DocumentContainers"],"summary":"Genera un XLS de los contenedores segun filtro","operationId":"DocumentContainers_ExportXLSByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"filtro de documentos para generar el XLS","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentContainerExportDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/CopyDocuments/{origen}/{destino}":{"put":{"tags":["DocumentContainers"],"summary":"Copia los documentos de un contenedor a otro","operationId":"DocumentContainers_CopyDocumentsByorigendestino","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"origen","in":"path","required":true,"type":"integer","format":"int32"},{"name":"destino","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/HardDelete/{id}":{"delete":{"tags":["DocumentContainers"],"summary":"Borrado Fisicamente el contenedor.\r\nEl container no tiene que estar tomado por otro usuario.","operationId":"DocumentContainers_HardDeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del contenedor a borrar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainers/UploadPreview":{"patch":{"tags":["DocumentContainers"],"summary":"agrego un preview al contenedor","operationId":"DocumentContainers_UploadPreviewBycontainer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"container","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Container.DocumentContainerDetailDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainersBulk/touch":{"put":{"tags":["DocumentContainersBulk"],"summary":"Modificación la ultima version de un lote de documentos.","operationId":"DocumentContainersBulk_TouchByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"id del tipo documental","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Bulk.TouchParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainerSharing/{id}":{"get":{"tags":["DocumentContainerSharing"],"summary":"Get del pdf del Contenedor compartido\r\nNo hay usuario logueado","operationId":"DocumentContainerSharing_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"url del contenedor a compartido","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainersShortcuts":{"get":{"tags":["DocumentContainersShortcuts"],"summary":"Búsqueda de documentos.","operationId":"DocumentContainersShortcuts_GetByparameters.nameparameters.organizationalUnitIdparameters.orderByparameters.orderAscendentparameters.idparameters.createdByparameters.createdDateFromparameters.createdDateToparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.orderBy","in":"query","required":false,"type":"array","items":{"type":"string","enum":["Identifier","Name","Date","Type"]},"collectionFormat":"multi"},{"name":"parameters.orderAscendent","in":"query","required":false,"type":"boolean"},{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.createdBy","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.createdDateFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"parameters.createdDateTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/DocumentContainersShortcuts/Find":{"put":{"tags":["DocumentContainersShortcuts"],"operationId":"DocumentContainersShortcuts_FindByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Shortcuts.DocumentShortcutFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/find":{"put":{"tags":["Documents"],"summary":"Búsqueda de documentos.","operationId":"Documents_FindByparametersgroupByTypes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Los parámetros de busqueda.","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentFindDTO"}},{"name":"groupByTypes","in":"query","description":"[Opcional] Indica si el resultado se retornará agrupado por document types o no. Por defecto el valor es True","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/{id}":{"get":{"tags":["Documents"],"summary":"Get de un documento\r\nSu version temporal o publicada, la version temporal solo si el doc esta tomado por el usuario que pide la version.","operationId":"Documents_GetByidtempVersion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento","required":true,"type":"integer","format":"int64"},{"name":"tempVersion","in":"query","description":"[Opcional] Devuelve la version temporal o no. Por defecto es False","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"delete":{"tags":["Documents"],"summary":"Borrado del documento.\r\nEl documento debe estar tomado por el usuario logueado.","operationId":"Documents_DeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Identificador del documento a borrar","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/IsFinished/{id}":{"get":{"tags":["Documents"],"summary":"Verifica si el documento esta terminado","operationId":"Documents_GetByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents":{"get":{"tags":["Documents"],"summary":"Get de los documentos tomados del usuario.","operationId":"Documents_GetByparameters.orderByparameters.checkedOutByIdparameters.codeparameters.idparameters.nameparameters.tempVersionparameters.versionparameters.folderNameparameters.fileNameparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.orderBy","in":"query","required":false,"type":"string"},{"name":"parameters.checkedOutById","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.code","in":"query","required":false,"type":"string"},{"name":"parameters.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.tempVersion","in":"query","required":false,"type":"boolean"},{"name":"parameters.version","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.folderName","in":"query","required":false,"type":"string"},{"name":"parameters.fileName","in":"query","required":false,"type":"string"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"put":{"tags":["Documents"],"summary":"Modificación de un Docuemnto\r\nSe modifica la version temportal (no pública) del mismo. El documento tiene que estar tomado por el usuario logueado\r\nMultipart:se modifica el documento y las imagenes asociadas","operationId":"Documents_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["Documents"],"summary":"Alta de un documento\r\nEl documento queda tomado y no es visible por el resto de los usuarios\r\nMultipart:se postea el documento y las imagenes asociadas","operationId":"Documents_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetZipedFiles":{"put":{"tags":["Documents"],"summary":"realiza un zip a un file","operationId":"Documents_GetZipedFiles","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetCollaboratedByID":{"get":{"tags":["Documents"],"summary":"Get de un documento","operationId":"Documents_GetCollaboratedByIDByparameter.userIdparameter.roleIdparameter.documentIdparameter.organizationalUnitIdparameter.actionparameter.resultparameter.certificateTypeIdparameter.continueWFparameter.createAsReadparameter.validateparameter.validateRoleIdColaborationFinished","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter.userId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.roleId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.documentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"parameter.organizationalUnitId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.action","in":"query","required":false,"type":"string"},{"name":"parameter.result","in":"query","required":false,"type":"string"},{"name":"parameter.certificateTypeId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameter.continueWF","in":"query","required":false,"type":"boolean"},{"name":"parameter.createAsRead","in":"query","required":false,"type":"boolean"},{"name":"parameter.validate","in":"query","required":false,"type":"boolean"},{"name":"parameter.validateRoleIdColaborationFinished","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetCheckedOut":{"get":{"tags":["Documents"],"summary":"Get de los documentos y tipos documentales tomados del usuario.","operationId":"Documents_GetCheckedOutByparameters.orderByparameters.checkedOutByIdparameters.codeparameters.nameparameters.tempVersionparameters.versionparameters.documentTypeIdsparameters.itemPerPageparameters.page","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters.orderBy","in":"query","required":false,"type":"string"},{"name":"parameters.checkedOutById","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.code","in":"query","required":false,"type":"string"},{"name":"parameters.name","in":"query","required":false,"type":"string"},{"name":"parameters.tempVersion","in":"query","required":false,"type":"boolean"},{"name":"parameters.version","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.documentTypeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"parameters.itemPerPage","in":"query","required":false,"type":"integer","format":"int32"},{"name":"parameters.page","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetDocSignatures/{id}":{"get":{"tags":["Documents"],"summary":"retorna la lista de firmas para un id de documento","operationId":"Documents_GetDocSignaturesByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"id del documento","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetSignatures/{id}":{"get":{"tags":["Documents"],"summary":"Recupero las firmas para un documento","operationId":"Documents_GetSignaturesByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"document Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetDocPdfSignatures/{id}":{"get":{"tags":["Documents"],"summary":"Recupero las firmas para un documento","operationId":"Documents_GetDocPdfSignaturesByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"document Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/GetDocPdfSignatures":{"post":{"tags":["Documents"],"summary":"Recupero las firmas para un documento","operationId":"Documents_GetDocPdfSignaturesBybytes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bytes","in":"body","description":"array de bytes","required":true,"schema":{"format":"byte","type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/CreateAndCheckin":{"post":{"tags":["Documents"],"summary":"Alta y publicación de un documento\r\nCreate la primera versión del documento, la publica y el mismo queda liberado\r\nMultipart:se postea el documento y las imagenes asociadas","operationId":"Documents_CreateAndCheckin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/UpdateHeader":{"put":{"tags":["Documents"],"operationId":"Documents_PutBydocumentHeader","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documentHeader","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentHeaderDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/getDocumentationsByDocumentName":{"put":{"tags":["Documents"],"operationId":"Documents_PutByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentationTypeParameterDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/CompleteDocument":{"put":{"tags":["Documents"],"summary":"Coloca en true el campo COMPLETE del documento","operationId":"Documents_CompleteDocumentByidDocument","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idDocument","in":"body","description":"id del documento","required":true,"schema":{"format":"int64","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/ModifyAndCheckin":{"put":{"tags":["Documents"],"summary":"Modificación y publicación/liberación de un Documento\r\nEl documento tiene que estar tomado por el usuario logueado\r\nMultipart:se modifica el documento y las imagenes asociadas","operationId":"Documents_ModifyAndCheckin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/checkout/{id}/{expirationMin}":{"put":{"tags":["Documents"],"summary":"Toma el documento\r\nEl documento debe encontrarse liberado/publicado previamente","operationId":"Documents_CheckoutByidexpirationMin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento a tomar","required":true,"type":"integer","format":"int64"},{"name":"expirationMin","in":"path","description":"Cantidad de minutos para la expiracón","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/checkout":{"put":{"tags":["Documents"],"summary":"Toma los documentos.\r\nLos documentos deben estar liberados/publicados previamente.","operationId":"Documents_CheckOutByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Lista de Ids de los documentos a tomar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentsParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/reassign":{"put":{"tags":["Documents"],"summary":"Reasigna el documento al usario enviado por parametro","operationId":"Documents_ReassignBydoc","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"doc","in":"body","description":"Id del documento a reasignar y el Id del usuario al que le queda asignado","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.ReassignDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/checkin/{id}":{"put":{"tags":["Documents"],"summary":"Libera/Publica el documento.\r\nNo se genera una nueva version del mismo, sino que se pisa la ultima version publicada.\r\nEl documento tiene que estar tomado por el usuario logueado","operationId":"Documents_CheckInByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento a publicar/liberar","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["Documents"],"summary":"Libera/Publica el documento.\r\nSe genera una nueva version del mismo (solo si hay diferencias con respecto a la version anterior)\r\nEl documento tiene que estar tomado por el usuario logueado","operationId":"Documents_CheckInVersionedByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento a publicar/liberar","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/checkin":{"put":{"tags":["Documents"],"summary":"Libera/Publica los documentos seleccionados.\r\nNo se genera una nueva version del los mismos.\r\nLos documentos deben estar tomados por el usuario logueado.","operationId":"Documents_CheckInByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Ids de los documento a publicar/liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentsParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"post":{"tags":["Documents"],"summary":"Libera/Publica los documentos y se generan nuevas versiones de los mismos.\r\nLos documentos deben estar tomados por el usuario logueado.","operationId":"Documents_CheckInVersionedByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Lista de Ids de los documento a publicar/liberar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentsParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/CheckInContainerDocuments":{"get":{"tags":["Documents"],"summary":"Este metodo pulbica en Mongo todos los documentos de un determinado contenedor.","operationId":"Documents_CheckInContainerDocumentsByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","description":"Id del contenedor cuyos documentos hay que publicar en Mongo","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/Migrate":{"post":{"tags":["Documents"],"summary":"Toma los documentos y los files que recibe. Si el documento tiene files lo crea y lo publica.\r\nAl finalizar registra el resultado de la migración.\r\nMultipart:Se postea una entidad Migrator que posee los documentos y los files a crear.","operationId":"Documents_Migrate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/exportxls":{"put":{"tags":["Documents"],"summary":"Exporta un archivo XLS con los documentos según los filtros seleccionados.","operationId":"Documents_ExportXLSByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Los parámetros del filtro de documentos para generar el XLS","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.Mongo.DocumentFindDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/{id}/{organizationalUnitId}":{"delete":{"tags":["Documents"],"summary":"Borrado del documento solo Mongo.","operationId":"Documents_DeleteByidorganizationalUnitId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Identificador del documento a borrar","required":true,"type":"integer","format":"int64"},{"name":"organizationalUnitId","in":"path","description":"Id Parent Organizational Unit","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/DeleteMultiple":{"put":{"tags":["Documents"],"summary":"Borra multiples documentos\r\nLos documentos deben estar tomados por el usuario logueado.","operationId":"Documents_DeleteByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Lista de Ids de documentos a borrar","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentsParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/DeleteAttachment":{"put":{"tags":["Documents"],"summary":"Borra fisicamente los adjuntos de los documentos enviados por parametro.\r\nEl documento debe estar tomado por el usuario logueado.","operationId":"Documents_DeleteAttachmentByparameter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameter","in":"body","description":"Lista de los Ids de los documentos a borrar los adjuntos","required":true,"schema":{"$ref":"#/definitions/Cardinal.EDR.DTO.Parameters.DocumentsParameter"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/HardDelete/{id}":{"delete":{"tags":["Documents"],"summary":"Borrado Fisicamente del documento y sus archivos.\r\nEl documento no puede estar tomado por otro usuario.","operationId":"Documents_HardDeleteByid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id del documento a borrar","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/merge":{"put":{"tags":["Documents"],"summary":"Unifica los documentos con metadatos similares","operationId":"Documents_MergeByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parameters","in":"body","description":"Lista de Documentos a unificar","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cardinal.EDR.DTO.Document.DocumentDTO"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/api/Documents/share":{"put":{"tags":["Documents"],"summary":"Genera un link, disponible por una cierta cantidad de horas, para poder compartir los documnetos mandandolo por Mail o a travez del mismo linkk.","operationId":"Documents_ShareByparameters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencod
[...]
